img {
  width: 5rem;
  height: 5rem;
  border-radius: 10%;
}
.author {
  font-size: 0.7rem;
  color: gray;
}
.title {
  font-size: 0.8rem;
}

.score {
  font-size: 0.7rem;
}

.date,
.comment {
  font-size: 0.8rem;
  color: gray;
}

.fas {
  font-size: 1rem;
}

.link {
  font-size: 0.7rem;
}

.buttonSize {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fa-sort-up,
.fa-sort-down {
  font-size: 1.5rem;
}
