<!-- select topic and number of feeds per page -->
<div class="row">
  <div class="col-md-4">
    <input
      class="form-control mb-2"
      placeholder="type your sub reddit name"
      [(ngModel)]="subReddit"
      (change)="changeTopic()"
      autofocus
    />
  </div>
  <div class="col-md-2">
    <select class="form-control" [(ngModel)]="limit" (change)="changeLimit()">
      <option>5</option>
      <option>10</option>
      <option>25</option>
    </select>
  </div>
</div>
<!-- end of select section -->

<!-- diplaying feeds -->
<div class="row mt-4" *ngIf="!noFeedsFound">
  <div class="col-md-6 mb-4" *ngFor="let item of feed.children">
    <div class="card fadeIn">
      <div class="card-body">
        <div class="row">
          <div
            class="col-md-1 col-sm-1 col-1 score d-flex flex-column align-items-center justify-content-center"
          >
            <div class="row">
              <i class="fas fa-sort-up"></i>
            </div>
            <div class="row">
              {{ item.data.score }}
            </div>
            <div class="row ">
              <i class="fas fa-sort-down"></i>
            </div>
          </div>
          <div
            class="col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center"
            (click)="goToPost(item.data.permalink)"
          >
            <img *ngIf="item.data.thumbnail === 'self' || item.data.thumbnail === 'default'" />
            <img
              *ngIf="item.data.thumbnail !== 'self' && item.data.thumbnail !== 'default'"
              class="cursor"
              [src]="item.data.thumbnail"
            />
          </div>
          <div class="col-md-6 col-sm-6 col-4 ml-2">
            <div class="row author">posted by {{ item.data.author }}</div>
            <div class="row title cursor" (click)="goToPost(item.data.permalink)">
              <span *ngIf="item.data.title.length < 40">
                {{ item.data.title }}
              </span>
              <span *ngIf="item.data.title.length > 40">
                {{ item.data.title.slice(0, 25) + "..." }}
              </span>
            </div>
            <div class="row link" style="z-index: 10">
              <a href="https://www.reddit.com{{ item.data.permalink }}" target="_blank"
                >see post on reddit <i class="fas fa-external-link-alt link"></i
              ></a>
            </div>
            <div class="row date">posted on {{ myHelper.convertDate(item.data.created) }}</div>
            <div class="row comment">
              <i class="fas fa-comment-alt mt-1"></i>{{ item.data.num_comments }} comments
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4" *ngIf="noFeedsFound">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
      No feeds found for your topic.
    </div>
  </div>
</div>
<!-- end of displaying feeds -->

<!-- next and previous section -->
<div class="row" *ngIf="!noFeedsFound">
  <div class="col-md-6 col-sm-12 col-12  d-flex  justify-content-end">
    <button
      [disabled]="count == 0"
      class="btn btn-outline-secondary buttonSize"
      (click)="gotToPrevious()"
    >
      <i class="fa fa-chevron-left"></i>previous
    </button>
  </div>
  <div class="col-md-6 col-sm-12 col-12">
    <button class="btn btn-outline-secondary buttonSize" (click)="goToNext()">
      next<i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
<!-- end of next and previous section -->
