<div class="col-12 my-4">
  <div class="row">
    <div class="col-1">
      <div
        [ngClass]="comment.replies !== '' ? 'commentBorder' : null"
        data-toggle="collapse"
        [attr.data-target]="'#' + comment.id"
        [attr.aria-expanded]="true"
        [attr.aria-controls]="comment.id"
      >
        <i class="fas fa-chevron-circle-up"></i>
      </div>
    </div>
    <div class="col-11 show" [id]="comment.id">
      <div class="row author ml-2">
        {{ comment.author }}
      </div>
      <div class="row comment ml-2">
        {{ comment.body }}
      </div>
      <ng-container *ngIf="comment.replies !== ''">
        <ng-container *ngFor="let item of comment.replies.data.children">
          <app-comment [comment]="item.data" style="width: 100%"></app-comment>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
