.author {
  font-size: 0.7rem;
  color: orange;
}

.comment {
  font-size: 1rem;
  text-align: justify;
}
.commentBorder {
  border: 1px solid #d9d7d7;
  height: 100% !important;
  width: 1px;
  cursor: pointer;
}
.commentBorder:hover {
  border: 1px solid rgb(109, 109, 109);
}
