/* You can add global styles to this file, and also import other style files */

div {
  /* border: 1px solid red; */
}

/* * {
  text-align: justify !important;
} */

i {
  margin: 0 0.3rem;
}

.scoreButtonSize {
  font-size: 2rem;
}

.cursor {
  cursor: pointer;
}

.fadeIn {
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
