<div class="fadeIn p-2">
  <div class="row p-2">
    <a [routerLink]="['/feeds']"> <i class="fa fa-chevron-left"></i>Back to feeds </a>
  </div>
  <div class="row">
    <div
      class="col-md-2 col-sm-2 col-2 d-flex flex-column align-items-center justify-content-center"
    >
      <div class="row">
        <i class="fas fa-sort-up"></i>
      </div>
      <div class="row">
        {{ post.score }}
      </div>
      <div class="row ">
        <i class="fas fa-sort-down"></i>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-9">
      <div class="row grayColor">
        Posted by {{ post.author }} on {{ myHelper.convertDate(post.created) }}
      </div>
      <div class="row">
        <h4>{{ post.title }}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-4">
      {{ post.selftext }}
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-12 col-sm-12 col-12 d-flex flex-column align-items-center justify-content-center"
    >
      <img
        *ngIf="post.thumbnail !== 'self' && post.thumbnail !== 'default'"
        [src]="post.thumbnail"
      />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12 comment">
      <i class="fas fa-comment-alt mt-1"></i>{{ post.num_comments }} comments
    </div>
  </div>
  <div class="row my-3" *ngIf="commentsArray.length > 0">
    <div class="col-12">
      <div class="row" *ngFor="let item of commentsArray">
        <app-comment [comment]="item.data" style="width: 100%"></app-comment>
      </div>
    </div>
  </div>
</div>
